# Dependency directories
node_modules
*/node_modules

# Logs
npm-debug.log*

# Environment files (CRITICAL: Do NOT push sensitive data)
.env
.env.local

# Build output
build
dist
.nyc_output

# Docker-specific files to ignore (we don't need the local volume data)
mongo-data/