version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: dev-app-backend
    ports:
      - "5003:5003"
    networks:
      - devapp-network

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    container_name: dev-app-frontend
    ports:
      - "3003:80"
    networks:
      - devapp-network

  mongo:
    image: mongo:latest
    container_name: mongo-db-container
    ports:
      - "27017:27017"
    networks:
      - devapp-network

networks:
  devapp-network:
    driver: bridge
